In [74]:
import pandas as pd

In [101]:
#Let's take a look at this data!

df = pd.read_csv('pz_test_run_data_2.csv')

In [102]:
print(df.shape)
print(df.info())
df.head()

(213840, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213840 entries, 0 to 213839
Data columns (total 6 columns):
ein         213840 non-null int64
org_name    213840 non-null object
period      213840 non-null int64
value       213840 non-null int64
variable    213840 non-null object
location    213840 non-null object
dtypes: int64(3), object(3)
memory usage: 9.8+ MB
None

,ein,org_name,period,value,variable,location
0,341119524,FAMILY HEALTH SERVICES OF DARKE COUNTY INC,201203,10505080,F9_01_PZ_PROGSERREVCY,F990-PC-PART-01-LINE-09-CY
1,562489014,TOWN SQUARE INC,201312,82770,F9_01_PZ_OTHEXPSCY,F990-PC-PART-01-LINE-17
2,956092516,PTA CALIFORNIA CONGRESS FIRST DISTRICT,201406,80485,F9_10_PZ_TOTALASSETSEOY,F990-EZ-PART-2-LINE-25-EOY
3,421711239,LUCAS COUNTY ECONOMIC DEVELOPMENT CORP FKA LUC...,201312,109000,F9_07_PZ_OFDIR1A1D,F990-PC-PART-07-LINE-1a1-COL-D
4,720501591,CITY CLUB OF BATON ROUGE,201312,0,F9_07_PZ_OFDIR1A1D,F990-PC-PART-07-LINE-1a1-COL-D

In [103]:
# Pivot to go from a bunch of key value paris to having data about each unique ein/period combo
variables_pivoted = df.pivot_table(index = ['ein', 'period'], columns = 'variable', values = 'value', aggfunc='max')
print(variables_pivoted.shape)
variables_pivoted.head()

(6747, 41)

,variable,F9_00_PZ_GROSSRECEIPTS,F9_01_PZ_BENSPDTOMEMSCY,F9_01_PZ_COSTGOODSOLD,F9_01_PZ_EXCDEFFORYEA,F9_01_PZ_GRNTSPAIDCY,F9_01_PZ_GRPRLOSAINNV,F9_01_PZ_INVESTMTINCCY,F9_01_PZ_NAFBBOY,F9_01_PZ_NETASSFNDBALEOY,F9_01_PZ_OTCHINNEASSS,...,F9_10_PZ_NETASSETSEOY,F9_10_PZ_NETLANDBUILDBOY,F9_10_PZ_NETLANDBUILDEOY,F9_10_PZ_OTHERASSETSBOY,F9_10_PZ_OTHERASSETSEOY,F9_10_PZ_TOTALASSETSBOY,F9_10_PZ_TOTALASSETSEOY,F9_10_PZ_TOTALLIABSBOY,F9_10_PZ_TOTALLIABSEOY,F9_11_PZ_OTCHINNEASSS
ein,period,,,,,,,,,,,,,,,,,,,,,
10211812,201412,2577067.0,0.0,NaN,NaN,0.0,NaN,31955.0,NaN,4491974.0,NaN,...,4491974.0,4516469.0,4415228.0,665663.0,702203.0,5739932.0,5687858.0,1170535.0,1195884.0,5890.0
10270690,201603,10837983.0,0.0,NaN,NaN,0.0,NaN,516454.0,NaN,6703792.0,NaN,...,6703792.0,499880.0,457463.0,0.0,0.0,7056283.0,6952704.0,182245.0,248912.0,44500.0
10275159,201406,363894.0,0.0,NaN,NaN,0.0,NaN,454.0,NaN,85104.0,NaN,...,85104.0,7726.0,4830.0,NaN,NaN,148215.0,117604.0,40759.0,32500.0,0.0
10285906,201206,90309.0,NaN,NaN,-5153.0,NaN,NaN,NaN,-163654.0,-168807.0,0.0,...,-168807.0,57096.0,81955.0,3193.0,4414.0,140151.0,133107.0,303805.0,301914.0,NaN
10361089,201406,6658868.0,0.0,NaN,NaN,0.0,NaN,556.0,NaN,2322839.0,NaN,...,2322839.0,8812720.0,8796286.0,189352.0,168009.0,9406160.0,9826965.0,6547319.0,7504126.0,-1.0

In [104]:
#Let's get some names that are a little easier to understand

import pickle

with open('name_mapper_2.pkl', 'rb') as picklefile:
    name_mapper = pickle.load(picklefile)

In [105]:
variables_pivoted.rename(name_mapper, axis='columns', inplace=True)
variables_pivoted.head()

,variable,Gross_Receipts,Exp_Benefits_to_Members,Cost_of_Goods_Sold,Excess_Deficit_1,Grants_Paid,Inventory_Sales,Investment_Income,Net_Assets_BOY,Net_Asset_EOY,Change_in_Assets_Other,...,Net_Assets_EOY_2,Net_Value_BOY,Net_Value_EOY,Other_Assets_BOY,Other_Assets_EOY,Total_Assets_BOY_2,Total_Assets_EOY,Total_Liabilities_BOY,Total_Liabilities_EOY,Change_in_Assets_Other_2
ein,period,,,,,,,,,,,,,,,,,,,,,
10211812,201412,2577067.0,0.0,NaN,NaN,0.0,NaN,31955.0,NaN,4491974.0,NaN,...,4491974.0,4516469.0,4415228.0,665663.0,702203.0,5739932.0,5687858.0,1170535.0,1195884.0,5890.0
10270690,201603,10837983.0,0.0,NaN,NaN,0.0,NaN,516454.0,NaN,6703792.0,NaN,...,6703792.0,499880.0,457463.0,0.0,0.0,7056283.0,6952704.0,182245.0,248912.0,44500.0
10275159,201406,363894.0,0.0,NaN,NaN,0.0,NaN,454.0,NaN,85104.0,NaN,...,85104.0,7726.0,4830.0,NaN,NaN,148215.0,117604.0,40759.0,32500.0,0.0
10285906,201206,90309.0,NaN,NaN,-5153.0,NaN,NaN,NaN,-163654.0,-168807.0,0.0,...,-168807.0,57096.0,81955.0,3193.0,4414.0,140151.0,133107.0,303805.0,301914.0,NaN
10361089,201406,6658868.0,0.0,NaN,NaN,0.0,NaN,556.0,NaN,2322839.0,NaN,...,2322839.0,8812720.0,8796286.0,189352.0,168009.0,9406160.0,9826965.0,6547319.0,7504126.0,-1.0

In [106]:
variables_pivoted.isna().sum().sort_values(ascending=False)

variable
Inventory_Sales             6427
Inventory_Sales_2           6361
Change_in_Assets_Other      6236
Cost_of_Goods_Sold          6200
Special_Events_Net          6109
Other_Rev                   6068
Cost_of_Goods_Sold_2        6065
Special_Events_Exp          6017
Rev_Special_Events_2        6017
Fundraising_Costs           5859
Excess_Deficit_1            5484
Membership_Dues             4788
Change_in_Assets_Other_2    4658
Net_Assets_BOY              4051
Other_Assets_BOY            3587
Total_Liabilities           3297
Employee_Comp_1             3247
Other_Assets_EOY            3204
Employee_Comp_2             3096
Net_Value_BOY               3044
Net_Value_EOY               2882
Total_Assets_BOY            2804
Other_Revenue               2761
Investment_Income           2761
Total_Exp                   2761
Excess_Deficit_2            2572
Exp_Benefits_to_Members     2522
Grants_Paid                 2394
Investment_Income_2         1826
Program_Service_Rev         1369
Total_Liabilities_BOY       1121
Total_Liabilities_EOY       1090
Other_Expenses               116
Director_Compensation         41
Net_Asset_EOY                 31
Gross_Receipts                25
Total_Rev                     24
Net_Assets_EOY_2               0
Total_Assets_BOY_2             0
Total_Assets_EOY               0
Net_Assets_BOY_2               0
dtype: int64

In [110]:
variables_pivoted[variables_pivoted.Inventory_Sales.isna()].merge(
    variables_pivoted[variables_pivoted.Inventory_Sales_2.isna()], how='inner').shape

(6297, 41)

In [123]:
variables_pivoted[variables_pivoted.Cost_of_Goods_Sold.isna()].merge(
    variables_pivoted[variables_pivoted.Cost_of_Goods_Sold_2.isna()], how='inner').shape

AttributeError: 'DataFrame' object has no attribute 'Cost_of_Goods_Sold_1'

In [160]:
#These variables don't seem to have enough data to be useful

variables_pivoted.drop(['Inventory_Sales', 'Inventory_Sales_2', 'Cost_of_Goods_Sold', 'Cost_of_Goods_Sold_2',
                        'Rev_Special_Events_2', 'Special_Events_Net', 'Special_Events_Exp', 'Membership_Dues'], axis=1, inplace=True)
variables_pivoted.head()

KeyError: "labels ['Inventory_Sales' 'Inventory_Sales_2' 'Cost_of_Goods_Sold'\n 'Cost_of_Goods_Sold_2' 'Rev_Special_Events_2' 'Special_Events_Net'\n 'Special_Events_Exp'] not contained in axis"

In [185]:
variables_pivoted.isna().sum().sort_values(ascending=False)

variable
Fundraising_Costs          5859
Change_in_Assets_Other     4147
Total_Liabilities          3297
Other_Assets_EOY           3088
Total_Exp                  2761
Excess_Deficit_2           2572
Exp_Benefits_to_Members    2522
Grants_Paid                2394
Other_Revenue              2082
Employee_Comp_2            1820
Program_Service_Rev        1369
Investment_Income          1115
Total_Liabilities_EOY      1025
Other_Expenses              116
Director_Compensation        41
Net_Asset_EOY                31
Gross_Receipts               25
Total_Rev                    24
Total_Assets_EOY              0
Net_Assets_BOY_2              0
Net_Assets_EOY_2              0
Total_Assets_BOY_2            0
dtype: int64

In [136]:
variables_pivoted[(variables_pivoted['Change_in_Assets_Other'].notna())].merge(
        variables_pivoted[variables_pivoted['Change_in_Assets_Other_2'].notna()], how='inner').shape

(0, 34)

In [138]:
variables_pivoted['Change_in_Assets_Other'].fillna(variables_pivoted['Change_in_Assets_Other_2'], inplace=True)
variables_pivoted.drop('Change_in_Assets_Other_2', axis=1, inplace=True)

In [139]:
variables_pivoted[(variables_pivoted['Other_Rev'].notna())].merge(
        variables_pivoted[variables_pivoted['Other_Revenue'].notna()], how='inner').shape

(0, 33)

In [140]:
variables_pivoted['Other_Revenue'].fillna(variables_pivoted['Other_Rev'], inplace=True)
variables_pivoted.drop('Other_Rev', axis=1, inplace=True)

In [141]:
variables_pivoted[(variables_pivoted['Excess_Deficit_1'].notna())].merge(
        variables_pivoted[variables_pivoted['Excess_Deficit_2'].notna()], how='inner').shape

(0, 32)

In [142]:
variables_pivoted['Excess_Deficit_1'].fillna(variables_pivoted['Excess_Deficit_2'], inplace=True)
variables_pivoted.drop('Excess_Deficit_1', axis=1, inplace=True)

In [148]:
variables_pivoted['Employee_Comp_2'].fillna(variables_pivoted['Employee_Comp_1'], inplace=True)
variables_pivoted.drop('Employee_Comp_1', axis=1, inplace=True)

In [161]:
variables_pivoted[variables_pivoted['Total_Assets_EOY'].notna()].loc[:, ['Total_Assets_EOY', 'Total_Assets_EOY_2']].head()

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:979: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_nested_tuple(tup)

variable         Total_Assets_EOY  Total_Assets_EOY_2
ein      period
10211812 201412         5687858.0                 NaN
10270690 201603         6952704.0                 NaN
10275159 201406          117604.0                 NaN
10285906 201206          133107.0                 NaN
10361089 201406         9826965.0                 NaN

In [159]:
variables_pivoted.drop('Total_Assets_BOY', axis=1, inplace=True)

In [171]:
variables_pivoted[(variables_pivoted['Investment_Income'].notna())].merge(
        variables_pivoted[variables_pivoted['Investment_Income_2'].isna()], how='inner').shape

(713, 28)

In [166]:
investment_overlap = variables_pivoted[(variables_pivoted['Investment_Income'].notna())].merge(
        variables_pivoted[variables_pivoted['Investment_Income_2'].notna()], how='inner')

In [170]:
variables_pivoted.loc[:,['Investment_Income', 'Investment_Income_2']]

variable          Investment_Income  Investment_Income_2
ein       period
10211812  201412            31955.0              21869.0
10270690  201603           516454.0              85265.0
10275159  201406              454.0                454.0
10285906  201206                NaN                 55.0
10361089  201406              556.0                556.0
10377706  201412                NaN                  2.0
10382340  201209            46051.0              38487.0
10389416  201106              834.0                834.0
10391479  201412         11364333.0            2181419.0
10406611  201406              108.0                108.0
10416936  201512            41244.0              27209.0
10434608  201306                NaN                 44.0
10449907  201312            24008.0              13205.0
10452620  201403            11850.0              11850.0
10464787  201012                NaN                505.0
10493869  201306               14.0                 14.0
10496076  201605                0.0                  NaN
10520459  201606                NaN                  NaN
10520715  201512                1.0                  1.0
10532835  201406           401443.0             101796.0
10536008  201212                0.0                  0.0
10541478  201512              235.0                235.0
10554061  201306             2598.0               2598.0
10556446  201506             2132.0               2132.0
10563744  201512                NaN                  NaN
10569404  201209             1490.0               1490.0
10570996  201612                NaN                 36.0
10571960  201312                0.0                  NaN
10588006  201012                NaN                  5.0
10588122  201512                NaN                  NaN
...                             ...                  ...
956204062 201406                NaN                  5.0
956204942 201506                NaN                 10.0
956204945 201506                NaN                  NaN
956205052 201406                NaN                  NaN
956206463 201406                0.0                  NaN
956206834 201506                NaN                  NaN
956207299 201706                NaN                  NaN
980031007 201412            82733.0              82733.0
980160122 201312           176000.0             176000.0
980175425 201012           297292.0             269545.0
986001034 201302         13227069.0           10878482.0
990073533 201012          -239302.0             199947.0
990143109 201512           190939.0             190939.0
990185750 201112             1325.0               1325.0
990201129 201412            68115.0              56666.0
990207024 201412             2842.0               2842.0
990227693 201312                NaN                181.0
990227772 201212            50119.0              47115.0
990231067 201412                NaN                 13.0
990240355 201506              123.0                123.0
990242276 201412                NaN                  NaN
990245508 201406                NaN               5954.0
990257743 201112            31852.0              31852.0
990305444 201612                0.0                  NaN
990329344 201412           177297.0              62559.0
990329925 201612            19651.0              16775.0
990340616 201012                NaN                  NaN
990348025 201306                NaN                 17.0
990355276 201112                NaN                  NaN
996001533 201406                NaN                550.0

[6747 rows x 2 columns]

In [180]:
variables_pivoted['Other_Assets_EOY'].fillna(variables_pivoted['Other_Assets_BOY'], inplace=True)
variables_pivoted.drop('Other_Assets_BOY', axis=1, inplace=True)

In [178]:
variables_pivoted.drop(['Net_Value_BOY', 'Net_Value_EOY', 'Membership_Dues'], axis=1, inplace=True)

In [188]:
variables_pivoted.drop('Net_Asset_EOY', axis=1, inplace=True)

In [189]:
variables_pivoted.columns

Index(['Gross_Receipts', 'Exp_Benefits_to_Members', 'Grants_Paid',
       'Investment_Income', 'Change_in_Assets_Other', 'Other_Expenses',
       'Other_Revenue', 'Program_Service_Rev', 'Excess_Deficit_2',
       'Employee_Comp_2', 'Total_Exp', 'Total_Liabilities', 'Total_Rev',
       'Director_Compensation', 'Fundraising_Costs', 'Net_Assets_BOY_2',
       'Net_Assets_EOY_2', 'Other_Assets_EOY', 'Total_Assets_BOY_2',
       'Total_Assets_EOY', 'Total_Liabilities_EOY'],
      dtype='object', name='variable')

In [192]:
variables_pivoted.head()

variable,ein,period,Gross_Receipts,Exp_Benefits_to_Members,Grants_Paid,Investment_Income,Change_in_Assets_Other,Other_Expenses,Other_Revenue,Program_Service_Rev,...,Total_Liabilities,Total_Rev,Director_Compensation,Fundraising_Costs,Net_Assets_BOY_2,Net_Assets_EOY_2,Other_Assets_EOY,Total_Assets_BOY_2,Total_Assets_EOY,Total_Liabilities_EOY
0,10211812,201412,2577067.0,0.0,0.0,31955.0,5890.0,1126013.0,-7392.0,2224311.0,...,1170535.0,2471711.0,73461.0,NaN,4569397.0,4491974.0,702203.0,5739932.0,5687858.0,1195884.0
1,10270690,201603,10837983.0,0.0,0.0,516454.0,44500.0,707136.0,34373.0,0.0,...,182245.0,2855773.0,103465.0,NaN,6874038.0,6703792.0,0.0,7056283.0,6952704.0,248912.0
2,10275159,201406,363894.0,0.0,0.0,454.0,0.0,142141.0,0.0,0.0,...,40759.0,330674.0,60000.0,NaN,107456.0,85104.0,NaN,148215.0,117604.0,32500.0
3,10285906,201206,90309.0,NaN,NaN,55.0,0.0,38375.0,NaN,90254.0,...,NaN,90309.0,0.0,NaN,-163654.0,-168807.0,4414.0,140151.0,133107.0,301914.0
4,10361089,201406,6658868.0,0.0,0.0,556.0,-1.0,3708443.0,74924.0,2695025.0,...,6547319.0,6642636.0,70425.0,NaN,2858841.0,2322839.0,168009.0,9406160.0,9826965.0,7504126.0

In [191]:
variables_pivoted.reset_index(inplace=True)

In [196]:
variables_pivoted.sort_values('ein')

variable,ein,period,Gross_Receipts,Exp_Benefits_to_Members,Grants_Paid,Investment_Income,Change_in_Assets_Other,Other_Expenses,Other_Revenue,Program_Service_Rev,...,Total_Liabilities,Total_Rev,Director_Compensation,Fundraising_Costs,Net_Assets_BOY_2,Net_Assets_EOY_2,Other_Assets_EOY,Total_Assets_BOY_2,Total_Assets_EOY,Total_Liabilities_EOY
0,10211812,201412,2577067.0,0.0,0.0,31955.0,5890.0,1126013.0,-7392.0,2224311.0,...,1170535.0,2471711.0,73461.0,NaN,4569397.0,4491974.0,702203.0,5739932.0,5687858.0,1195884.0
1,10270690,201603,10837983.0,0.0,0.0,516454.0,44500.0,707136.0,34373.0,0.0,...,182245.0,2855773.0,103465.0,NaN,6874038.0,6703792.0,0.0,7056283.0,6952704.0,248912.0
2,10275159,201406,363894.0,0.0,0.0,454.0,0.0,142141.0,0.0,0.0,...,40759.0,330674.0,60000.0,NaN,107456.0,85104.0,NaN,148215.0,117604.0,32500.0
3,10285906,201206,90309.0,NaN,NaN,55.0,0.0,38375.0,NaN,90254.0,...,NaN,90309.0,0.0,NaN,-163654.0,-168807.0,4414.0,140151.0,133107.0,301914.0
4,10361089,201406,6658868.0,0.0,0.0,556.0,-1.0,3708443.0,74924.0,2695025.0,...,6547319.0,6642636.0,70425.0,NaN,2858841.0,2322839.0,168009.0,9406160.0,9826965.0,7504126.0
5,10377706,201412,28872.0,0.0,NaN,2.0,0.0,11491.0,0.0,5470.0,...,NaN,28872.0,0.0,0.0,24726.0,5614.0,0.0,24726.0,5614.0,0.0
6,10382340,201209,15496317.0,0.0,0.0,46051.0,NaN,5154029.0,0.0,14976075.0,...,7180913.0,15068919.0,174572.0,NaN,4927055.0,2967502.0,1096760.0,12107968.0,9835133.0,6867631.0
7,10389416,201106,1462060.0,0.0,0.0,834.0,NaN,310361.0,16528.0,1444152.0,...,91728.0,1462060.0,0.0,NaN,1016398.0,1107653.0,NaN,1108126.0,1187980.0,80327.0
8,10391479,201412,161097301.0,0.0,21432742.0,11364333.0,141112.0,2770657.0,0.0,594998.0,...,58901509.0,44725097.0,208748.0,NaN,315558376.0,337380145.0,3750479.0,374459885.0,403278326.0,65898181.0
9,10406611,201406,229837.0,0.0,0.0,108.0,0.0,204795.0,1554.0,228175.0,...,1095684.0,229837.0,0.0,NaN,-239166.0,-214124.0,4580.0,856518.0,865276.0,1079400.0
10,10416936,201512,331596.0,0.0,0.0,41244.0,NaN,95744.0,2702.0,0.0,...,5846.0,229452.0,0.0,NaN,5853303.0,5855629.0,NaN,5859149.0,5861691.0,6062.0
11,10434608,201306,180956.0,NaN,NaN,44.0,NaN,112415.0,NaN,180912.0,...,NaN,180956.0,0.0,NaN,-414439.0,-409409.0,53382.0,210199.0,205946.0,615355.0
12,10449907,201312,138690.0,0.0,0.0,24008.0,NaN,41907.0,0.0,0.0,...,4.0,69261.0,0.0,NaN,404319.0,431673.0,0.0,404323.0,431673.0,0.0
13,10452620,201403,709289.0,0.0,0.0,11850.0,0.0,200760.0,24596.0,7975.0,...,32745.0,709289.0,90731.0,NaN,1601523.0,1624515.0,1082557.0,1634268.0,1662302.0,37787.0
14,10464787,201012,98533.0,NaN,14003.0,505.0,NaN,15317.0,NaN,NaN,...,NaN,69137.0,0.0,NaN,94742.0,131157.0,3871.0,94742.0,131157.0,NaN
15,10493869,201306,1934783.0,0.0,0.0,14.0,NaN,734510.0,0.0,1924353.0,...,435439.0,1934783.0,72274.0,NaN,89536.0,197818.0,7709.0,524975.0,623994.0,426176.0
16,10496076,201605,786611.0,0.0,0.0,0.0,0.0,147303.0,195996.0,0.0,...,305500.0,219302.0,0.0,NaN,291431.0,310659.0,NaN,596931.0,630391.0,319732.0
17,10520459,201606,43584.0,NaN,NaN,NaN,NaN,46030.0,945.0,22787.0,...,NaN,43584.0,0.0,0.0,130662.0,105673.0,88023.0,132162.0,107173.0,1500.0
18,10520715,201512,129818.0,0.0,93239.0,1.0,0.0,27337.0,27110.0,0.0,...,0.0,121790.0,0.0,NaN,12929.0,-10613.0,NaN,12929.0,18389.0,29002.0
19,10532835,201406,4471576.0,0.0,1426291.0,401443.0,0.0,257669.0,79198.0,0.0,...,32260.0,3369145.0,48765.0,NaN,3693871.0,4872814.0,NaN,3726131.0,4915020.0,42206.0
20,10536008,201212,333762.0,0.0,0.0,0.0,NaN,85026.0,143787.0,0.0,...,7940.0,322834.0,63920.0,NaN,118904.0,104459.0,488.0,126844.0,119003.0,14544.0
21,10541478,201512,257682.0,0.0,0.0,235.0,0.0,74192.0,0.0,0.0,...,16237.0,257682.0,0.0,NaN,165005.0,205249.0,NaN,181242.0,238499.0,33250.0
22,10554061,201306,523788.0,0.0,0.0,2598.0,NaN,0.0,-154957.0,0.0,...,6915207.0,-152359.0,0.0,NaN,-1129800.0,-1282159.0,22759.0,5785407.0,5662399.0,6944558.0
23,10556446,201506,824713.0,0.0,19000.0,2132.0,0.0,182485.0,20465.0,75793.0,...,38473.0,756373.0,80093.0,NaN,594446.0,666000.0,NaN,632919.0,732441.0,66441.0
24,10563744,201512,18558.0,NaN,NaN,NaN,NaN,38113.0,NaN,7350.0,...,NaN,18558.0,0.0,NaN,29888.0,10333.0,NaN,29888.0,10333.0,NaN
25,10569404,201209,5270492.0,0.0,0.0,1490.0,NaN,3350016.0,170289.0,4671496.0,...,13083308.0,5270492.0,0.0,NaN,6572335.0,7543333.0,846718.0,19655643.0,20277662.0,12734329.0
26,10570996,201612,79787.0,NaN,NaN,36.0,NaN,1000.0,NaN,NaN,...,NaN,-5738.0,0.0,76651.0,41879.0,28051.0,0.0,41879.0,28051.0,0.0
27,10571960,201312,531060.0,0.0,0.0,0.0,238445.0,697719.0,0.0,49225.0,...,558972.0,531060.0,0.0,NaN,7377.0,79163.0,45974.0,566349.0,197877.0,118714.0
28,10588006,201012,195821.0,NaN,NaN,5.0,NaN,57690.0,NaN,62800.0,...,NaN,187684.0,58846.0,NaN,37625.0,34071.0,43595.0,47961.0,48076.0,14005.0
29,10588122,201512,73910.0,NaN,NaN,NaN,-470.0,47860.0,NaN,56300.0,...,NaN,73910.0,0.0,0.0,7054.0,2925.0,NaN,7054.0,2925.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6717,956204062,201406,47454.0,NaN,NaN,5.0,NaN,28034.0,NaN,20895.0,...,NaN,47454.0,0.0,26504.0,15808.0,12966.0,NaN,15808.0,12966.0,NaN
6718,956204942,201506,63802.0,0.0,NaN,10.0,0.0,66874.0,0.0,0.0,...,NaN,63044.0,0.0,5615.0,41448.0,35587.0,0.0,41448.0,35587.0,0.0
6719,956204945,201506,77653.0,NaN,NaN,NaN,NaN,76989.0,NaN,2239.0,...,NaN,64058.0,0.0,68425.0,18642.0,5404.0,NaN,18642.0,5404.0,NaN
6720,956205052,201406,34621.0,NaN,NaN,NaN,NaN,13561.0,NaN,NaN,...,NaN,10549.0,0.0,32434.0,11191.0,8179.0,NaN,11191.0,8179.0,NaN
6721,956206463,201406,81154.0,0.0,0.0,0.0,NaN,87392.0,1659.0,0.0,...,NaN,81154.0,0.0,NaN,32876.0,26638.0,NaN,32876.0,26638.0,0.0
6722,956206834,201506,68541.0,NaN,NaN,NaN,NaN,37202.0,NaN,NaN,...,NaN,37236.0,0.0,31305.0,7030.0,6639.0,NaN,7030.0,6639.0,NaN
6723,956207299,201706,75080.0,NaN,NaN,NaN,0.0,31937.0,NaN,NaN,...,NaN,25258.0,0.0,64169.0,51352.0,44673.0,NaN,51352.0,44673.0,0.0
6724,980031007,201412,5912805.0,0.0,3119722.0,82733.0,-483766.0,736271.0,487539.0,0.0,...,2606383.0,5912805.0,152730.0,NaN,3444122.0,3176719.0,0.0,6050505.0,5765403.0,2588684.0
6725,980160122,201312,13353000.0,0.0,6348298.0,176000.0,NaN,2575702.0,47000.0,562000.0,...,3790000.0,13353000.0,108238.0,NaN,21170000.0,21988000.0,19581000.0,24960000.0,25588000.0,3600000.0
6726,980175425,201012,725275.0,0.0,213825.0,297292.0,NaN,53648.0,378489.0,0.0,...,1503744.0,725275.0,0.0,NaN,7299558.0,7940848.0,1005429.0,8803302.0,9547386.0,1606538.0
6727,986001034,201302,91802799.0,0.0,0.0,13227069.0,NaN,29208781.0,2613500.0,7402078.0,...,10517574.0,58180206.0,163851.0,NaN,304291072.0,306394082.0,NaN,314808646.0,327839962.0,21445880.0
6728,990073533,201012,30398990.0,0.0,5800.0,-239302.0,NaN,8990756.0,372001.0,18188992.0,...,3088567.0,24667687.0,211119.0,NaN,43050956.0,43169690.0,NaN,46139523.0,46185730.0,3016040.0
6729,990143109,201512,10595448.0,0.0,0.0,190939.0,NaN,4481979.0,155794.0,9153018.0,...,13514743.0,10595448.0,221157.0,NaN,26679930.0,27079680.0,15202286.0,40194673.0,40296727.0,13217047.0
6730,990185750,201112,4045663.0,0.0,0.0,1325.0,NaN,1226810.0,7639.0,4000333.0,...,2181119.0,4045663.0,122867.0,NaN,1716155.0,2030073.0,63884.0,3897274.0,4065276.0,2035203.0
6731,990201129,201412,72917.0,0.0,0.0,68115.0,NaN,48700.0,0.0,4802.0,...,0.0,72917.0,0.0,NaN,1721644.0,1745880.0,0.0,1721644.0,1745880.0,0.0
6732,990207024,201412,781105.0,0.0,10500.0,2842.0,0.0,105421.0,0.0,12559.0,...,55735.0,781105.0,64190.0,NaN,503743.0,752923.0,3856.0,559478.0,787674.0,34751.0
6733,990227693,201312,26250.0,NaN,NaN,181.0,0.0,23274.0,NaN,NaN,...,NaN,25980.0,0.0,NaN,263038.0,264089.0,2062.0,263038.0,264089.0,0.0
6734,990227772,201212,1348484.0,0.0,0.0,50119.0,NaN,739201.0,9237.0,1142384.0,...,965.0,1201740.0,0.0,NaN,2671365.0,3356978.0,NaN,2672330.0,3371645.0,14667.0
6735,990231067,201412,107331.0,NaN,NaN,13.0,0.0,41482.0,12.0,25217.0,...,NaN,107331.0,0.0,NaN,91433.0,92323.0,241.0,91433.0,92323.0,0.0
6736,990240355,201506,514202.0,0.0,0.0,123.0,NaN,201434.0,17553.0,40313.0,...,37019.0,470221.0,67935.0,NaN,1140467.0,1057728.0,NaN,1177486.0,1087066.0,29338.0
6737,990242276,201412,87726.0,NaN,NaN,NaN,-40.0,127611.0,2.0,59914.0,...,NaN,87726.0,0.0,NaN,119015.0,79005.0,0.0,119015.0,79005.0,0.0
6738,990245508,201406,87923.0,0.0,NaN,5954.0,18946.0,18072.0,NaN,NaN,...,NaN,41679.0,0.0,29107.0,219868.0,240257.0,NaN,225788.0,240257.0,0.0
6739,990257743,201112,342746.0,0.0,0.0,31852.0,NaN,326787.0,29484.0,0.0,...,34381.0,318191.0,0.0,NaN,1588436.0,1236185.0,5637.0,1622817.0,1289460.0,53275.0
6740,990305444,201612,1569984.0,0.0,0.0,0.0,NaN,444693.0,431562.0,45372.0,...,25615.0,617383.0,39000.0,NaN,80497.0,97735.0,NaN,106112.0,117356.0,19621.0
6741,990329344,201412,3431188.0,0.0,0.0,177297.0,122937.0,109888.0,1037.0,0.0,...,0.0,1253334.0,0.0,NaN,11957788.0,13444279.0,3755196.0,11957788.0,13444279.0,0.0
6742,990329925,201612,208738.0,0.0,19000.0,19651.0,0.0,26447.0,13896.0,1430.0,...,0.0,39252.0,0.0,NaN,463491.0,457296.0,NaN,463491.0,457296.0,0.0
6743,990340616,201012,26854.0,NaN,NaN,NaN,0.0,9911.0,NaN,13398.0,...,NaN,26854.0,0.0,NaN,16462.0,19502.0,NaN,16462.0,19502.0,0.0
6744,990348025,201306,62307.0,NaN,NaN,17.0,2685.0,1236.0,NaN,NaN,...,NaN,62307.0,0.0,NaN,9165.0,15772.0,0.0,13734.0,15772.0,0.0
6745,990355276,201112,33180.0,NaN,NaN,NaN,NaN,65960.0,NaN,NaN,...,NaN,33180.0,0.0,NaN,190126.0,156846.0,90262.0,190126.0,156846.0,NaN
6746,996001533,201406,174943.0,NaN,NaN,550.0,0.0,64158.0,NaN,26451.0,...,NaN,158735.0,0.0,27725.0,201823.0,258250.0,0.0,264920.0,294746.0,36496.0

In [200]:
ein_to_org_name = df.loc[:,['ein','org_name']].drop_duplicates('ein')

In [201]:
ein_to_org_name.sort_values('ein').head()

            ein                                org_name
46556  10211812                   BATH AREA FAMILY YMCA
25340  10270690  NATURAL RESOURCES COUNCIL OF MAINE INC
9424   10275159         JUNIOR ACHIEVEMENT OF MAINE INC
51110  10285906             FOR DEVELOPMENTAL RESOURCES
15805  10361089        YORK COUNTY SHELTER PROGRAMS INC

In [203]:
test_data = variables_pivoted.merge(df.loc[:,['ein','org_name']].drop_duplicates('ein'), how='left', on='ein')

In [205]:
test_data.sort_values('ein').head()

,ein,period,Gross_Receipts,Exp_Benefits_to_Members,Grants_Paid,Investment_Income,Change_in_Assets_Other,Other_Expenses,Other_Revenue,Program_Service_Rev,...,Total_Rev,Director_Compensation,Fundraising_Costs,Net_Assets_BOY_2,Net_Assets_EOY_2,Other_Assets_EOY,Total_Assets_BOY_2,Total_Assets_EOY,Total_Liabilities_EOY,org_name
0,10211812,201412,2577067.0,0.0,0.0,31955.0,5890.0,1126013.0,-7392.0,2224311.0,...,2471711.0,73461.0,NaN,4569397.0,4491974.0,702203.0,5739932.0,5687858.0,1195884.0,BATH AREA FAMILY YMCA
1,10270690,201603,10837983.0,0.0,0.0,516454.0,44500.0,707136.0,34373.0,0.0,...,2855773.0,103465.0,NaN,6874038.0,6703792.0,0.0,7056283.0,6952704.0,248912.0,NATURAL RESOURCES COUNCIL OF MAINE INC
2,10275159,201406,363894.0,0.0,0.0,454.0,0.0,142141.0,0.0,0.0,...,330674.0,60000.0,NaN,107456.0,85104.0,NaN,148215.0,117604.0,32500.0,JUNIOR ACHIEVEMENT OF MAINE INC
3,10285906,201206,90309.0,NaN,NaN,55.0,0.0,38375.0,NaN,90254.0,...,90309.0,0.0,NaN,-163654.0,-168807.0,4414.0,140151.0,133107.0,301914.0,FOR DEVELOPMENTAL RESOURCES
4,10361089,201406,6658868.0,0.0,0.0,556.0,-1.0,3708443.0,74924.0,2695025.0,...,6642636.0,70425.0,NaN,2858841.0,2322839.0,168009.0,9406160.0,9826965.0,7504126.0,YORK COUNTY SHELTER PROGRAMS INC

In [209]:
test_data.isna().sum().sort_values(ascending=False)

org_name                   0
Total_Liabilities_EOY      0
period                     0
Gross_Receipts             0
Exp_Benefits_to_Members    0
Grants_Paid                0
Investment_Income          0
Change_in_Assets_Other     0
Other_Expenses             0
Other_Revenue              0
Program_Service_Rev        0
Excess_Deficit_2           0
Employee_Comp_2            0
Total_Exp                  0
Total_Liabilities          0
Total_Rev                  0
Director_Compensation      0
Fundraising_Costs          0
Net_Assets_BOY_2           0
Net_Assets_EOY_2           0
Other_Assets_EOY           0
Total_Assets_BOY_2         0
Total_Assets_EOY           0
ein                        0
dtype: int64

In [208]:
test_data = test_data.fillna(0)

In [210]:
with open('test_data.pkl', 'wb') as picklefile:
    pickle.dump(test_data, picklefile)